# Build output
**/bin/** linguist-generated
**/obj/** linguist-generated

# NuGet / libraries
**/wwwroot/lib/** linguist-vendored
**/jquery/** linguist-vendored
**/template/** linguist-vendored
**/assets/** linguist-vendored

# Static files
*.css linguist-vendored
*.scss linguist-vendored
*.sass linguist-vendored
*.less linguist-vendored
*.js linguist-vendored
*.min.js linguist-vendored

# Images & fonts
*.png linguist-generated
*.jpg linguist-generated
*.jpeg linguist-generated
*.gif linguist-generated
*.svg linguist-generated
*.woff linguist-generated
*.woff2 linguist-generated
*.ttf linguist-generated
*.eot linguist-generated
