@model UI.Models.Shipment.ShipmentWizardViewModel
@{
    ViewData["Title"] = "Create New Shipment";
}

<!-- Breadcroumbs start -->
<div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1>Create New Shipment</h1>
                <a href="/" title="Home">Home</a> / Create New Shipment
            </div>
            <div class="col-12 col-lg-5 text-right">
                <h4>We freight to all over the world The best logistic company, <span>FAST</span> and <span>SAFELY!</span></h4>
            </div>
        </div>
    </div>
</div>
<!-- Breadcroumbs end -->
<!-- Create New Shipment Start -->
<div class="wshipping-content-block shipping-block">
    <div class="container">
        <h2 class="heading2-border mt0">Create New Shipping</h2>
        <div class="row">
            <div class="shipping-form-block">
                <form asp-action="CreateShipment" asp-controller="Shipment" method="post" class="steps" accept-charset="UTF-8" novalidate="novalidate">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Where From</li>
                        <li>Where Going</li>
                        <li>What</li>
                        <li>How</li>
                        <li>Payment</li>
                        <li>Review</li>
                        <li>Complete</li>
                    </ul>

                    <!-- fieldsets Shipping From Start-->
                    <fieldset>
                        <h2 class="fs-title">Hello. Where are you shipping from?</h2>
                        <h3 class="fs-subtitle">* Indicates required field </h3>
                        <div class="shipping-form">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Company or Name<sup>*</sup></label>
                                        <input asp-for="Sender.SenderName" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Contact<sup>*</sup></label>
                                        <input asp-for="Sender.Contact" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>City<sup>*</sup></label>
                                        <select asp-for="Sender.CityId" asp-items="Model.Cities" class="form-control">
                                            <option value="">-- Select City --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Address<sup>*</sup></label>
                                        <input asp-for="Sender.Address" class="form-control" placeholder="Street Address" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Other Address Information</label>
                                        <input asp-for="Sender.OtherAddress" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Postal Code<sup>*</sup></label>
                                        <input asp-for="Sender.PostalCode" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>E-mail <sup>*</sup></label>
                                        <input asp-for="Sender.Email" type="email" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Telephone<sup>*</sup></label>
                                        <input asp-for="Sender.Phone" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">   
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="slide-label">Use this as my default address</label>
                                        <div class="slide-redio">
                                            <input asp-for="Sender.IsDefaultAddress" type="checkbox" id="sender-default">
                                            <label for="sender-default"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Continue">
                        <input type="reset" name="cancel" class="action-button btn-red" value="Cancel Shipment">
                    </fieldset>
                    <!-- fieldsets Shipping From end-->
                    <!-- fieldsets Shipping going Start-->
                    <fieldset>
                        <h2 class="fs-title">Where is your shipping going?</h2>
                        <h3 class="fs-subtitle">* Indicates required field </h3>
                        <div class="shipping-form">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Company or Name<sup>*</sup></label>
                                        <input asp-for="Receiver.ReceiverName" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Contact<sup>*</sup></label>
                                        <input asp-for="Receiver.Contact" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>City<sup>*</sup></label>
                                        <select asp-for="Receiver.CityId" asp-items="Model.Cities" class="form-control">
                                            <option value="">-- Select City --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Address<sup>*</sup></label>
                                        <input asp-for="Receiver.Address" class="form-control" placeholder="Street Address" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Other Address Information</label>
                                        <input asp-for="Receiver.OtherAddress" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Postal Code<sup>*</sup></label>
                                        <input asp-for="Receiver.PostalCode" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>E-mail <sup>*</sup></label>
                                        <input asp-for="Receiver.Email" type="email" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Telephone<sup>*</sup></label>
                                        <input asp-for="Receiver.Phone" class="form-control" />
                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label class="slide-label">Use this as my default address</label>
                                        <div class="slide-redio">
                                            <input asp-for="Sender.IsDefaultAddress" id="sender-default" />
                                            <label for="sender-default"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous">
                        <input type="button" name="next" class="next action-button" value="Continue">
                        <input type="reset" name="cancel" class="action-button btn-red" value="Cancel Shipment">
                    </fieldset>
                    <!-- fieldsets Shipping going end-->
                    <!-- fieldsets package Start-->
                    <fieldset>
                        <h2 class="fs-title">What kind of packaging are you using?</h2>
                        <h3 class="fs-subtitle">* Indicates required field </h3>
                        <div class="shipping-form">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label>Packaging Type<sup>*</sup></label>
                                                <div class="input-comment">
                                                    <select asp-for="Shipment.ShippingPackagingId" asp-items="Model.Shipment.PackagingTypes" class="form-control">
                                                        <option value="">-- Select Packaging --</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label>Weight<sup>*</sup></label>
                                                <div class="input-comment">
                                                    <input asp-for="Shipment.Weight" class="form-control" />
                                                    <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                                    <span class="field-comment">kg</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label>Length</label>
                                                <div class="input-comment">
                                                    <input asp-for="Shipment.Length" class="form-control" />
                                                    <span class="field-comment">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label>Width</label>
                                                <div class="input-comment">
                                                    <input asp-for="Shipment.Width" class="form-control" />
                                                    <span class="field-comment">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label>Height</label>
                                                <div class="input-comment">
                                                    <input asp-for="Shipment.Height" class="form-control" />
                                                    <span class="field-comment">cm</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <label>Declared value</label>
                                                <div class="input-comment">
                                                    <input asp-for="Shipment.PackageValue" class="form-control" />
                                                    <span class="field-comment">USD</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous">
                        <input type="button" name="next" class="next action-button" value="Continue">
                        <input type="reset" name="cancel" class="action-button btn-red" value="Cancel Shipment">
                    </fieldset>
                    <!-- fieldsets package end-->
                    <!-- fieldsets shipping how Start-->
                    <fieldset>
                        <h2 class="fs-title">How would you like to ship?</h2>
                        <h3 class="fs-subtitle">* Indicates required field </h3>
                        <div class="shipping-form">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Shipping Type<sup>*</sup></label>
                                        <select asp-for="Shipment.ShippingTypeId" asp-items="Model.Shipment.ShippingTypes" class="form-control">
                                            <option value="">-- Select Type --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Shipping Date<sup>*</sup></label>
                                        <div class="datepicker-group">
                                            <input asp-for="Shipment.ShippingDate" placeholder="Date" />
                                            <div class="datepicker-icon"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group">
                                        <label>Delivery Date</label>
                                        <div class="datepicker-group">
                                            <input asp-for="Shipment.DeliveryDate" class="form-control datetimepicker1" placeholder="Date" />
                                            <div class="datepicker-icon"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous">
                        <input type="button" name="next" class="next action-button" value="Continue">
                        <input type="reset" name="cancel" class="action-button btn-red" value="Cancel Shipment">
                    </fieldset>
                    <!-- fieldsets shipping how end-->
                    <!-- fieldsets payment Start-->
                    <fieldset>
                        <h2 class="fs-title">How would like to pay?</h2>
                        <h3 class="fs-subtitle">* Indicates required field </h3>
                        <div class="shipping-form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <label>Payment Method</label>
                                        <select asp-for="Shipment.PaymentMethodId" asp-items="Model.Shipment.PaymentMethods" class="form-control">
                                            <option value="">-- Select Payment Method --</option>
                                        </select>
                                    </div>
                                    @if (Model.Shipment.UserSubscriptionId.HasValue)
                                    {
                                        <div class="col-12 col-lg-4">
                                            <label>Subscription</label>
                                            <input asp-for="Shipment.UserSubscriptionId" class="form-control" readonly />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous">
                        <input type="button" name="next" class="next action-button" value="Continue">
                        <input type="reset" name="cancel" class="action-button btn-red" value="Cancel Shipment">
                    </fieldset>
                    <!-- fieldsets payment end-->
                    <!-- fieldsets Review Start-->
                    <fieldset>
                        <h2 class="fs-title">Let's make sure everyting is in order</h2>
                        <div class="shipping-form">
                            <div class="review">
                                <h3>Where <a href="" title="Edit" class="btn-edit">Edit</a></h3>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="ship-address">
                                            <h4>Ship from</h4>
                                            <p class="review-sender"></p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="ship-address">
                                            <h4>Ship to</h4>
                                            <p class="review-receiver"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review">
                                <h3>What <a href="" title="Edit" class="btn-edit">Edit</a></h3>
                                <h5>Package information</h5>
                                <ul>
                                    <li><b>Weight:</b> <span class="review-weight"></span> kg</li>
                                    <li><b>Dimensions:</b> <span class="review-dims"></span> cm</li>
                                    <li><b>Declared value:</b> <span class="review-value"></span> USD</li>
                                </ul>
                            </div>
                            <div class="review">
                                <h3>How <a href="" title="Edit" class="btn-edit">Edit</a></h3>
                                <h5>Service Selection</h5>
                                <p class="review-shiptype"></p>
                                <h5>Arrival</h5>
                                <p class="review-dates"></p>
                            </div>
                            <div class="review">
                                <h3>Payment <a href="" title="Edit" class="btn-edit">Edit</a></h3>
                                <p class="review-payment"></p>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous">
                        <input type="submit" name="submit" class="submit action-button" value="Create Shipment">
                    </fieldset>
                    <!-- fieldsets Review end-->
                    <!-- fieldsets complete Start-->
                    <fieldset>
                        <div class="shipping-form">
                            <h1 class="tanks-message">Thank You For Create Shipping</h1>
                        </div>
                    </fieldset>
                    <!-- fieldsets complete end-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Create New Shipment end -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
